* {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

#logo {
    width: 20%;
}

.titular {
    font-size: 24px;
}

.precio-txt {
    font-size: 18px;
}

.desc-txt {
    font-size: 16px;
}

#search-bar {
    text-align: center;
}

#searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;

}



header {
    background-color: #EAC926;


}

footer section {
    text-align: center;
    background-color: white;
}

footer i {
    color: blue;
    margin-bottom: 10px;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;

}

main section {
    width: 90%;
    /* background-color:white; */
    margin: 10px;


}
.caja-art{
    border-top: 1px solid #ebebeb ;
    margin: 15px;

}
.articulo{
    background-color: white;
}

/*
● Nos piden que la misma tenga un borde superior de 1 píxel, línea sólida y color
#ebebeb.
● Debe tener separado el contenido de sus bordes en 15 píxeles en cada uno de sus
lados. */
.burger-menu {
    color: white;
    padding: 1%;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    background-color: blue;
}

.menu-btn {
    align-items: center;
    display: flex;
    justify-content: center;


}

/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;